@charset "utf-8";
/* CSS Document */


.top {
	background-image: url(../image/title-background.png);
	background-repeat: repeat-x;
	height: 75px;
	width: auto;
}

.footer {
	background-image: url(../image/footer-background.gif);
	background-repeat: repeat-x;
	height: 31px;
	width: auto;
}