<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.pg.servlet.Login</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCount</servlet-name>
    <servlet-class>com.pg.servlet.GetCount</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllUsers</servlet-name>
    <servlet-class>com.pg.servlet.GetAllUsers</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubmittedMaterial</servlet-name>
    <servlet-class>com.pg.servlet.SubmittedMaterial</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PriceFeedback</servlet-name>
    <servlet-class>com.pg.servlet.PriceFeedback</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AcceptOrder</servlet-name>
    <servlet-class>com.pg.servlet.AcceptOrder</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LaunchOrder</servlet-name>
    <servlet-class>com.pg.servlet.LaunchOrder</servlet-class>
  </servlet>  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllOrder</servlet-name>
    <servlet-class>com.pg.servlet.GetAllOrder</servlet-class>
  </servlet>    
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetHomeInfo</servlet-name>
    <servlet-class>com.pg.servlet.GetHomeInfo</servlet-class>
  </servlet>   
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetOneUser</servlet-name>
    <servlet-class>com.pg.servlet.GetOneUser</servlet-class>
  </servlet> 
    
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.pg.servlet.UpdateUser</servlet-class>
  </servlet>  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUserCode</servlet-name>
    <servlet-class>com.pg.servlet.GetUserCode</servlet-class>
  </servlet> 
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.pg.servlet.AddUser</servlet-class>
  </servlet>  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllOrders</servlet-name>
    <servlet-class>com.pg.servlet.GetAllOrders</servlet-class>
  </servlet>     
     
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteOrder</servlet-name>
    <servlet-class>com.pg.servlet.DeleteOrder</servlet-class>
  </servlet>   
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoNextOrder</servlet-name>
    <servlet-class>com.pg.servlet.DoNextOrder</servlet-class>
  </servlet>   
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteOrderPhone</servlet-name>
    <servlet-class>com.pg.servlet.DeleteOrderPhone</servlet-class>
  </servlet>   
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.pg.servlet.DeleteUser</servlet-class>
  </servlet>  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.pg.servlet.SignOut</servlet-class>
  </servlet>  
    

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetCount</servlet-name>
    <url-pattern>/GetCount</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetAllUsers</servlet-name>
    <url-pattern>/GetAllUsers</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SubmittedMaterial</servlet-name>
    <url-pattern>/SubmittedMaterial</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PriceFeedback</servlet-name>
    <url-pattern>/PriceFeedback</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LaunchOrder</servlet-name>
    <url-pattern>/LaunchOrder</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AcceptOrder</servlet-name>
    <url-pattern>/AcceptOrder</url-pattern>
  </servlet-mapping>
  
 <servlet-mapping>
    <servlet-name>GetAllOrder</servlet-name>
    <url-pattern>/GetAllOrder</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetHomeInfo</servlet-name>
    <url-pattern>/GetHomeInfo</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetOneUser</servlet-name>
    <url-pattern>/GetOneUser</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetUserCode</servlet-name>
    <url-pattern>/GetUserCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>GetAllOrders</servlet-name>
    <url-pattern>/GetAllOrders</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>DeleteOrder</servlet-name>
    <url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DoNextOrder</servlet-name>
    <url-pattern>/DoNextOrder</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DeleteOrderPhone</servlet-name>
    <url-pattern>/DeleteOrderPhone</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping> 
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>
