<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.pg.servlet.Login</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCount</servlet-name>
    <servlet-class>com.pg.servlet.GetCount</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllUsers</servlet-name>
    <servlet-class>com.pg.servlet.GetAllUsers</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubmittedMaterial</servlet-name>
    <servlet-class>com.pg.servlet.SubmittedMaterial</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PriceFeedback</servlet-name>
    <servlet-class>com.pg.servlet.PriceFeedback</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AcceptOrder</servlet-name>
    <servlet-class>com.pg.servlet.AcceptOrder</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LaunchOrder</servlet-name>
    <servlet-class>com.pg.servlet.LaunchOrder</servlet-class>
  </servlet>  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllOrder</servlet-name>
    <servlet-class>com.pg.servlet.GetAllOrder</servlet-class>
  </servlet>    
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetHomeInfo</servlet-name>
    <servlet-class>com.pg.servlet.GetHomeInfo</servlet-class>
  </servlet>   
  
  

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetCount</servlet-name>
    <url-pattern>/GetCount</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetAllUsers</servlet-name>
    <url-pattern>/GetAllUsers</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SubmittedMaterial</servlet-name>
    <url-pattern>/SubmittedMaterial</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PriceFeedback</servlet-name>
    <url-pattern>/PriceFeedback</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LaunchOrder</servlet-name>
    <url-pattern>/LaunchOrder</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AcceptOrder</servlet-name>
    <url-pattern>/AcceptOrder</url-pattern>
  </servlet-mapping>
  
 <servlet-mapping>
    <servlet-name>GetAllOrder</servlet-name>
    <url-pattern>/GetAllOrder</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetHomeInfo</servlet-name>
    <url-pattern>/GetHomeInfo</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>
